# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

serial/build-WatorGUI-Desktop_Qt_5_15_0_GCC_64bit-Debug
parallel/build-WatorGUI-Desktop_Qt_5_15_0_GCC_64bit-Debug
*.qmake.stash
*.pro.user
*.miOaYW
